<tr>
  <td><%= trip.starts_on.to_date %></td>
  <td><%= trip.starts_on.strftime("%I:%M%p") %></td>
  <td class="estimated-total-time"></td>
  <td class="trip-city"><%= link_to trip.city, trip %></td>
  <td>
    <% if trip.completed %>
      <%= button_to "Unarchive", trip_archives_path(trip), method: :delete %>
    <% else %>
      <%= button_to "Archive", trip_archives_path(trip) %>
    <% end %>
  </td>

  <% if current_user.id == trip.owner_id %>
    <td>
      <%= link_to "Edit", edit_trip_path(trip) %>
    </td>
    <td>
      <%= button_to "Delete", trip, method: :delete %>
    </td>
  <% end %>
</tr>
