<%= content_for :scripts do %>
  <%= javascript_include_tag "toggle_new_trip.js" %>
<% end %>

<div class="incoming-trip main-box">
  <h3>Incoming Trip</h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Starts</th>
      <th>Estimated Ends (Total Time)</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render @incoming_trips %>
  </table>
</div>

<div class="archived-trip main-box">
  <h3>Archived Trip</h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Starts</th>
      <th>Estimated Ends (Total Time)</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render @archived_trips %>
  </table>
</div>

<div class="new-trip main-box">
  <h3>Create a trip</h3>

  <div class="new-trip-form">
    <%= render "form", trip: @trip %>
  </div>
</div>
