<h3>View Trip to <%= @trip.city %> on <%= @trip.starts_on %></h3>

<table>
  <tr>
    <th>Date</th>
    <th>Starts On</th>
    <th>Place</th>
    <th>Status (if completed)</th>
  </tr>
  <tr><%= render @trip %></tr>
</table>

<%= link_to "Edit", edit_trip_path(@trip) %>

<%= button_to "Delete", @trip, method: :delete %>

<h3>View all locations and stops</h3>

<table class="trip-table">
  <tr>
    <th>No.</th>
    <th>Trip ID</th>
    <th>Location ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Stay Time</th>
    <th>Transportation Mode</th>
    <th>Description</th>
    <th></th>
  </tr>

  <%= render @trip.stops.in_order %>
</table>

<%= link_to "Create a new location", new_location_path %>

<%= link_to "Add a stop", new_trip_stop_path(@trip) %>

<div class="mode-select">
  <%= select_tag "mode-select-tag", options_for_select(
    [["Walking", "WALKING"], ["Driving", "DRIVING"],
     ["Bicycling", "BICYCLING"]]) %>
</div>

<div class="calculated-distances"></div>

<div class="calculated-times"></div>

<div id="map-canvas"></div>

