<h3>View Trip to <%= @trip.city %> on <%= @trip.starts_on %></h3>

<table>
  <tr>
    <th>Date</th>
    <th>Starts On</th>
    <th>Place</th>
    <th>Status (if completed)</th>
  </tr>
  <tr><%= render @trip %></tr>
</table>

<div class="share-link">
  <%= link_to "Share to friends", trip_trip_groups_path(@trip) %>
</div>

<h3>View all locations and stops</h3>

<table class="trip-table">
  <tr>
    <th>No.</th>
    <th>Trip ID</th>
    <th>Location ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Stay Time (minutes)</th>
    <th>Transportation Mode</th>
    <th>Description</th>
    <th></th>
  </tr>

  <%= render @trip.stops.in_order %>
</table>

<% if current_user.owner?(@trip) %>
  <div class="create-link">
    <%= link_to "Create a new location", new_location_path %>
  </div>

  <div class="create-link">
    <%= link_to "Add a stop", new_trip_stop_path(@trip) %>
  </div>
<% end %>

<div class="mode-select">
  <%= select_tag "mode-select-tag", options_for_select(
  ApplicationHelper::WAYPOINTS_TRANS_MODE) %>
</div>

<div class="distance-summary"></div>

<div class="duration-summary"></div>

<div class="stay_time-summary"></div>

<div id="map-canvas"></div>
