<%= content_for :scripts do %>
  <%= javascript_include_tag "map.js",
    "add_location.js",
    "add_stop.js",
    "delete_stop.js",
    "update_stay_time.js",
    "update_stop.js",
    "update_table_and_map.js" %>
<% end %>

<div class="trip-overview main-box">
  <h3>Trip to <%= @trip.city %> ( <%= @trip.starts_on %> )</h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Starts</th>
      <th>Estimated Total Time</th>
      <th>Place</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    <tr><%= render @trip %></tr>
  </table>

  <h4>
    <%= link_to "Share to friends", trip_trip_groups_path(@trip),
      class: "share-link" %>
  </h4>
</div>

<div class="all-locations-stops main-box">
  <h3>View all locations and stops</h3>

  <table class="trip-table">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Address</th>
      <th>Stay (min)</th>
      <th>To Next Stop<br/>(min (mi))</th>
      <th></th>
    </tr>

    <%= render @trip.stops.all %>
  </table>

  <div class="mode-select">
    <p class="mode-select">Choose Transportation Mode:
    <%= mode_select %>
    </p>
  </div>
</div>

<% if current_user.owner?(@trip) %>
  <div class="new-location-stop main-box">
    <h3>Create location and add stop</h3>

    <div class="create-location">
      <p><strong>Create a location</strong></p>
      <div class="location-errors"></div>
      <div class="location-form">
        <%= render "locations/form", location: @location %>
      </div>
    </div>

    <div class="add-stop">
      <p><strong>Add a stop</strong></p>
      <div class="stop-errors"></div>
      <div class="stop-form">
        <%= render "stops/form", trip: @trip, stop: @stop %>
      </div>
    </div>
  </div>
<% end %>

<div class="map main-box">
  <div id="map-canvas"></div>
</div>
