<div class="sign-wrapper">
  <%= form_for @user, class: "sign-form" do |form| %>
    <div class="sign-error">
      <% if @user.errors.any? %>
        <%= pluralize(@user.errors.count, "error") %>
          prevented your account from being created:
        <ul>
          <% @user.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="form-item">
      <%= form.label :email %>
      <%= form.email_field :email, placeholder: "Email" %>
    </div>
    <div class="form-item">
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: "Password" %>
    </div>
    <div class="form-submit">
      <%= form.submit "Sign up" %>
    </div>
  <% end %>
</div>
