<tr class="location-stop-row" data-trip-id="<%= stop.trip_id%>"
  data-stop-id="<%= stop.id %>">
  <td class="stop-order"><%= stop.order %></td>
  <td><%= stop.trip_id %></td>
  <td><%= stop.location_id %></td>
  <td class="stop-id"><%= stop.id %></td>
  <td class="location-name"><%= stop.location.name %></td>
  <td class="location-address"><%= stop.location.address %></td>
  <td class="stop-stay_time"><%= stop.stay_time %></td>
  <td class="stop-transportation_mode"><%= stop.transportation_mode %></td>
  <td><%= stop.location.description %></td>

  <% if current_user.owner?(@trip) %>
    <td>
      <%= link_to "Edit stop", edit_trip_stop_path(stop.trip, stop) %>
      <%= button_to "Delete stop", [stop.trip, stop], method: :delete, class:
        "delete-stop-button" %>
      <%= link_to "Change order", edit_stop_stop_orders_path(stop) %>
    </td>
  <% end %>
</tr>
