<tr>
  <td><%= stop.order %></td>
  <td><%= stop.location.name %></td>
  <td><%= stop.location.address %></td>
  <td><%= stop.stay_time %> minutes</td>
  <td><%= stop.location.description %></td>
</tr>
