<tr>
  <td><%= location.order_of(trip) %></td>
  <td><%= location.name %></td>
  <td><%= location.address %></td>
  <td><%= location.stay_time_of(trip) %> minutes</td>
  <td><%= location.description %></td>
</tr>
