<!DOCTYPE html>
<html>
<head>
  <title>Tripmap</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ4_p1yfXKUuWWQsOAFWN52wyOXz8K81E">
  </script>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <div class="header">
    <%= link_to "Trip Map", root_path %>

    <% if signed_in? %>
      <%= current_user.email %>
      <%= link_to "Sign out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_session_path %>
      <%= link_to "Sign up", new_user_path %>
    <% end %>
  </div>

  <div class="main">
    <%= yield %>
  </div>

  <div class="footer"></div>
</body>
</html>
